@model crm.Models.ViewModels.AdminAccountViewModel

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/logo.png" type="image/png">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href='/css/admin-record.css'>
    <link rel="stylesheet" href='/css/style-admin-account.css'>
    <link rel="stylesheet" href='/css/style-header-footer.css'>
    <title>Lunara — CRM система для записи клиентов</title>
</head>

<body>
    <header class="header">
        <div class="header-container">
            <div class="logo-container">
                <a href="/" class="logo">
                    <img src="../img/logo.png" width="50" height="50" alt="Логотип">
                    <h1>Lunara</h1>
                </a>
            </div>
            <div class="navigation-container">
                <nav class="navigation">
                    <a href="/home/index#features" class="navigation-link">Возможности</a>
                    <a href="https://github.com/Masolll" class="navigation-link">Контакты</a>
                    <a href="/home/index#record-features" class="navigation-link">Запись</a>
                </nav>
            </div>
            <div class="login-container">
                <a class="account">
                    <img src="/img/avatar.png" width="25" height="25" alt="Аватар">
                </a>
            </div>
        </div>
    </header>

    <main>
        <aside class="sidebar">
            <h1>@Model.Admin.NameCompany</h1>
            <div class="profile-container">
                <div class="profile">
                    <div class="avatar">
                        <img src="/img/avatar.png" width="50" height="50" alt="Аватар" id="avatar-image">
                        <input type="file" id="avatar-upload" style="display: none;">
                    </div>
                    <div class="profile-info">
                        <input type="text" value="@Model.Admin.Surname" disabled="">
                        <input type="text" value="@Model.Admin.Name" disabled="">
                        <input type="text" value="@Model.Admin.Patronymic" disabled="">
                    </div>
                </div>
                <div class="info">
                    <div class="field">
                        <label for="user-id">Логин:</label>
                        <input type="text" id="user-id" value="@Model.Admin.Login" disabled="">
                    </div>
                    <div class="field">
                        <label for="phone-side">Телефон:</label>
                        <input type="tel" id="phone-side" value="@Model.Admin.Phone" disabled="">
                    </div>
                    <div class="field">
                        <label for="email-side">Почта:</label>
                        <input type="email" id="email-side" value="@Model.Admin.Email" disabled="">
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <nav class="menu">
                <button class="menu-button show-employees-list">Список сотрудников</button>
                <button class="menu-button show-record-list">Список записей</button>
                <button class="menu-button show-add-employees-form">Добавить сотрудника</button>
                <button class="menu-button show-record-form">Создать запись</button>
            </nav>
            <div class="line"></div>
            <button class="menu-button logout-button">
                Выйти
                <img src="/img/logout-icon.png" alt="Выйти" class="logout-icon">
            </button>
        </aside>

        <section class="schedule">
            <div id="employees" class="employees">
                <div class="list-header">
                    <h1>Список сотрудников</h1>
                </div>

                <div class="search-container">
                    <input type="text" id="searchInput" placeholder="Поиск сотрудников">
                    <button class="clear-employee-search-button">Очистить</button>
                </div>
                
                <div id="employeeList" class="employee-list">
                    @{
                        var employeesLogins = Model.Admin.EmployeesLogins;
                        @for (var i = 0; i < employeesLogins.Count; i++)
                        {
                            var employee = Model.AllEmployees.FirstOrDefault(e => e.Login == employeesLogins[i]);
                            <div class="employee-item">
                                <p class="full-name">@employee.Surname @employee.Name @employee.Patronymic</p>
                                <div class="job-title">
                                    <p>@employee.Position</p>
                                </div>
                                <p class="employee-id">ID: @employee.Login</p>
                                <input type="hidden" class="employee-password" value="@employee.Password" />
                                <div class="status-icons">
                                    <a href="/employee/account?employeeLogin=@employee.Login"><button class="employee-profile">Профиль</button></a>
                                    <button class="copy-data">
                                        <img src="../img/copy-employee-data-icon.svg" alt="Копировать">
                                    </button>
                                    <button class="employee-edit" data-employee-login="@employee.Login">Редактировать</button>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            
            <div id="records" class="records" style="display: none;">
                <div class="list-header">
                    <h1>Список записей</h1>
                </div>
                
                <div class="search-container">
                    <input type="text" id="searchInputRecord" placeholder="Поиск записей">
                    <button class="clear-record-search-button">Очистить</button>
                </div>
                
                <div id="recordList" class="record-list">
                    @{
                        var recordsCurrentAdmin = Model.AllRecords.Where(e => Model.Admin.Records.Contains(e.Id)).ToList();
                        @for (var i = 0; i < recordsCurrentAdmin.Count; i++)
                        {
                            <div class="record-item">
                                <p class="full-name">@recordsCurrentAdmin[i].Name</p>
                                <p class="price"><b>Стоимость:</b><br> @recordsCurrentAdmin[i].Price</p>
                                <div class="record-employees">
                                    <p><b>Сотрудники:</b><br>
                                    @for (var j = 0; j < recordsCurrentAdmin[i].EmployeesLogins.Length; j++)
                                    {
                                        var employeeLogin = recordsCurrentAdmin[i].EmployeesLogins[j];
                                        var employee = Model.AllEmployees.FirstOrDefault(e => e.Login == employeeLogin);
                                        if (employee != null)
                                        {
                                            <span>@employee.Surname @employee.Name @employee.Patronymic</span><br>
                                        }
                                    }
                                    </p>
                                </div>
                                <p class="record-description">
                                    <b>Описание:</b><br>
                                    @if (recordsCurrentAdmin[i].Description.Length > 100)
                                    {
                                        @Html.Raw(recordsCurrentAdmin[i].Description.Substring(0, 100) + "...")
                                    }
                                    else
                                    {
                                        @recordsCurrentAdmin[i].Description
                                    }
                                </p>
                                <p class="record-adress"><b>Адрес:</b><br> @recordsCurrentAdmin[i].Address</p>
                                <div class="status-icons">
                                    <button class="record-edit" data-record-id="@recordsCurrentAdmin[i].Id">Редактировать</button>
                                    <a href="/order/form?recordId=@recordsCurrentAdmin[i].Id"><button class="record-url">URL</button></a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            
            <div id="addEmployee" class="add-employee" style="display: none;">
                <h1 class="employee-form-title">Добавить сотрудника</h1>
                <form class="employee-form" method="post" action="/employee/create">
                    <label for="employee-name">Фамилия:</label>
                    <input type="text" id="employee-name" name="Surname" placeholder="Иванов" pattern="^([А-Я]{1}[а-яё]{1,30}|[A-Z]{1}[a-z]{1,30})$" 
                    title="Фамилия должна начинаться с заглавной буквы и содержать только буквы кириллицы или латиницы (например: Иванов или Ivanov)" required>
                    
                     <label for="employee-name">Имя:</label>
                    <input type="text" id="employee-name" name="Name" placeholder="Иван" pattern="^([А-Я]{1}[а-яё]{1,30}|[A-Z]{1}[a-z]{1,30})$" 
                    title="Имя должно начинаться с заглавной буквы и содержать только буквы кириллицы или латиницы (например: Иван или Ivan)" required> 
                    
                     <label for="employee-name">Отчество:</label>
                    <input type="text" id="employee-name" name="Patronymic" placeholder="Иванович" pattern="^([А-Я]{1}[а-яё]{1,30}|[A-Z]{1}[a-z]{1,30})$" 
                    title="Отчество должно начинаться с заглавной буквы и содержать только буквы кириллицы или латиницы (например: Иванович или Ivanovich)" required> 
                    
                    <label for="position">Должность:</label>
                    <input type="text" id="position" name="position" required>
                    
                    <label for="phone">Телефон:</label>
                    <input type="text" id="phone" name="phone" placeholder="1-222-333-44-55" pattern="^(\+7|8)\s?[0-9]{3}\s?[0-9]{3}\s?[0-9]{2}\s?[0-9]{2}$" 
                    title="Телефонный номер должен начинаться с +7 или 8 и содержать 11 цифр" required>
                    
                    <label for="email">Почта:</label>
                    <input type="email" id="email" name="email" placeholder="example@company.com" required>

                    <label for="employee-id">ID:</label>
                    <input type="text" id="employee-id" name="login" minlength="4" maxlength="25" pattern="^[a-zA-Z0-9_\-]{4,25}$"
                    title="ID должен содержать только цифры, буквы латиницы, _ и -" required> @*Было name="employee-id" *@
                    
                    <label for="password">Пароль:</label>
                    <input type="password" id="password" name="password" minlength="4" maxlength="30" pattern="^[a-zA-Z0-9_\-#$%&*+]{4,30}$"
                    title="Пароль должен содержать только буквы латиницы и специальные символы" required>
                    
                    <label for="confirm-password">Подтверждение пароля:</label>
                    <div class="confirm-password-container">
                        <input type="password" id="confirm-password" name="confirm-password" minlength="4" maxlength="30" pattern="^[a-zA-Z0-9_\-#$%&*+]{4,30}$"
                    title="Пароль должен содержать только буквы латиницы и специальные символы" required>
                        <button type="button" class="password-visibility">
                            <img src="../img/password-icon.png" alt="Показать/Скрыть пароль">
                        </button>
                    </div>
                    
                    <div id="password-error">Пароли не совпадают</div>

                    <button type="submit" class="submit-button">Добавить</button>
                </form>
            </div>

            <div id="addRecord" class="add-record" style="display: none;">
                <h1 class="record-form-title">Создать запись</h1>
                <form class="record-form" method="Post" action="/record/create">
                    <label for="record-name">Название:</label>
                    <input type="text" id="record-name" name="name" required>

                    <label for="price">Стоимость:</label>
                    <input type="text" id="price" name="price" placeholder="1000" pattern="^\d+$"
                    title="Цена должна быть целым числом" required>

                    <label for="employee">Сотрудник:</label>
                    <select id="employee" name="employeesLogins" multiple required>
                        @{
                            var employeesLogins = Model.Admin.EmployeesLogins;
                            @for (var i = 0; i < employeesLogins.Count; i++)
                            {
                                var employee = Model.AllEmployees.FirstOrDefault(e => e.Login == employeesLogins[i]);
                                if (employee != null)
                                {
                                    <option value="@employeesLogins[i]">
                                        ID: @employeesLogins[i] - @employee.Surname @employee.Name @employee.Patronymic
                                    </option>
                                }
                            }
                        }
                    </select>

                    <label for="address">Адрес:</label>
                    <input type="text" id="address" name="address" required>

                    <label for="description">Описание:</label>
                    <textarea id="description" name="description" rows="6" placeholder="Описание записи" required></textarea>

                    <button type="submit" class="submit-button">Создать</button>
                </form>
            </div>

            <div id="editEmployee" class="edit-employee" style="display: none;">
                <h1 class="edit-employee-form-title">Редактирование сотрудника</h1>
                <form class="edit-employee-form" method="Post" action="/employee/update">
                    <label for="edit-employee-name">Фамилия:</label>
                    <input type="text" id="edit-employee-surname" name="surname" placeholder="Иванов" pattern="^([А-Я]{1}[а-яё]{1,30}|[A-Z]{1}[a-z]{1,30})$" 
                    title="Фамилия должна начинаться с заглавной буквы и содержать только буквы кириллицы или латиницы (например: Иванов или Ivanov)" required>
                    
                    <label for="edit-employee-name">Имя:</label>
                    <input type="text" id="edit-employee-name" name="name" placeholder="Иван" pattern="^([А-Я]{1}[а-яё]{1,30}|[A-Z]{1}[a-z]{1,30})$" 
                    title="Имя должно начинаться с заглавной буквы и содержать только буквы кириллицы или латиницы (например: Иван или Ivan)" required>
                    
                    <label for="edit-employee-name">Отчество:</label>
                    <input type="text" id="edit-employee-patronymic" name="patronymic" placeholder="Иванович" pattern="^([А-Я]{1}[а-яё]{1,30}|[A-Z]{1}[a-z]{1,30})$" 
                    title="Отчество должно начинаться с заглавной буквы и содержать только буквы кириллицы или латиницы (например: Иванович или Ivanovich)" required>

                    <label for="edit-position">Должность:</label>
                    <input type="text" id="edit-position" name="position" required>
                    
                    <label for="edit-phone">Телефон:</label>
                    <input type="text" id="edit-phone" name="phone" placeholder="1-222-333-44-55" pattern="^(\+7|8)\s?[0-9]{3}\s?[0-9]{3}\s?[0-9]{2}\s?[0-9]{2}$" 
                    title="Телефонный номер должен начинаться с +7 или 8 и содержать 11 цифр" required>
                    
                    <label for="edit-email">Почта:</label>
                    <input type="email" id="edit-email" name="email" placeholder="example@company.com" required>

                    <label for="edit-employee-id">ID:</label>
                    <input type="text" id="edit-employee-id" name="login" minlength="4" maxlength="25" pattern="^[a-zA-Z0-9_\-]{4,25}$"
                    title="ID должен содержать только цифры, буквы латиницы, _ и -" required>

                    <button type="submit" class="edit-submit-button">Сохранить изменения</button>
                    <input id="edit-employee-id-hidden" style="display: none;" name="Id">
                </form>
            </div>

            <div id="editRecord" class="edit-record" style="display: none;">
                <h1 class="edit-record-form-title">Редактирование записи</h1>
                <form class="edit-record-form" method="Post" action="/record/update">
                    <label for="edit-record-name">Название записи:</label>
                    <input type="text" id="edit-record-name" name="Name" required>
            
                    <label for="edit-price">Стоимость:</label>
                    <input type="text" id="edit-price" name="Price" placeholder="1000" pattern="^\d+$"
                    title="Цена должна быть целым числом" required>
            
                    <label for="edit-employee">Сотрудники:</label>
                    <select id="edit-employee" name="EmployeesLogins" multiple required>
                        @* Записи генерируются с помощью js *@
                    </select>
            
                    <label for="edit-address">Адрес:</label>
                    <input type="text" id="edit-address" name="Address" required>
            
                    <label for="edit-description">Описание:</label>
                    <textarea id="edit-description" name="Description" rows="6" placeholder="Описание записи" required></textarea>
            
                    <button type="submit" class="edit-submit-button">Сохранить изменения</button>
                    <input id="edit-record-id-hidden"  style="display: none;" name="Id"> 
                </form>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-container">
            <div class="logo-container">
                <a href="/" class="logo">
                    <img src="../img/logo.png" width="50" height="50" alt="Логотип">
                </a>
            </div>
            <div class="footer-navigation-container">
                <div class="footer-section">
                    <p class="footer-heading">Компания</p>
                    <ul>
                        <li><a href="https://github.com/Masolll" class="footer-link">Контакты</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <p class="footer-heading">Возможности</p>
                    <ul>
                        <li><a href="/home/index#features" class="footer-link">Администрирование</a></li>
                        <li><a href="/home/index#employee-features" class="footer-link">Ведение расписания</a></li>
                        <li><a href="/home/index#record-features" class="footer-link">Запись на услуги</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <p class="footer-heading">Правовая информация</p>
                    <ul>
                        <li><a href="../pdf/UserAgreement.pdf" class="footer-link" target="_blank">Пользовательское соглашение</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
    <template id="employee-template">
        <div class="employee-item">
            <p class="full-name">ФИО сотрудника</p>
            <div class="job-title">
                <p>Должность</p>
            </div>
            <p class="employee-id">ID</p>
            <div class="status-icons">
                <button class="employee-profile">Профиль</button>
                <button class="copy-data">
                    <img src="./img/copy-employee-data-icon.svg" alt="Копировать">
                </button>
                <button class="employee-edit">Редактировать</button>
            </div>
        </div>
    </template>

    <template id="record-template">
        <div class="record-item">
            <p class="full-name">Название записи</p>
            <p class="price">Стоимость</p>
            <div class="record-employees">
                <p><strong>Сотрудники:</strong></p>
            </div>
            <p class="record-description">Описание</p>
            <p class="record-adress">Адрес</p>
            <div class="status-icons">
                <button class="record-edit">Редактировать</button>
                <button class="record-url">URL</button>
            </div>
        </div>
    </template>

    <script type="module" src="/js/admin/main-admin-account.js"></script>
</body>
</html>
